.core-banner {
  width: 100%;
  height: 380px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.slide {
  position: relative;
}

.slide-cont{ width: 100%; height: 380px; position: relative; overflow: hidden;}
.slide-item{ position: absolute; width: 100%; height: 100%;}
.slide-item img{ width: 100%; height:380px;}
.slide-item a{ display: block; width: 100%; height: 100%}
.slide-item a:hover{ text-decoration:none;}
.slide-txt,.slide-mask{ position:absolute;  width: 354px; padding:0 18px 0 8px; height: 80px; left: 10px; bottom:10px;  z-index: 10;}
.slide-txt{ color: #fff; z-index: 11;}
.slide-tit{ line-height:28px; display:block; font-size:18px;}
.slide-des{ line-height:22px; font-size:12px;}
.slide-mask{ background-color: #000; opacity: 0.7; filter:alpha(opacity=70);}
.slide-nav{ position: absolute; bottom: 10px; right: 10px; padding: 3px 3px 3px 0; z-index: 10; font-size: 0; overflow:hidden; height:6px; zoom:1;}
.slide-nav a{display: inline-block; position: relative; z-index: 11; width: 20px; height: 6px; background-color: #fff; margin: 0 1px 0 4px; line-height: 0; float:left;}
.slide-nav .nownav{ background-color: #ff7800;}
.nav-mask{ width: 100%; height: 100%; position: absolute; bottom: 0; right: 0; z-index: 10; background-color: #fff; opacity: 0.3; filter:alpha(opacity=30); zoom: 1;}
#prev,#next{ position:absolute; width:36px; height:72px; top:114px; background:url(http://7xlek5.com2.z0.glb.qiniucdn.com/siteicon/slidearr.png) no-repeat; opacity:0.5; filter:alpha(opacity=50);}
#prev{ left:0; background-position:-36px 0;}
#next{ right:0; background-position:0 0;}
#prev:hover,#next:hover{ opacity:1; filter:alpha(opacity=100);}
.search_wrap {
  width: 800px;
  height: 190px;
  margin: -320px auto 150px;
  position: relative;
  z-index: 2;
    padding: 30px;
  background: url( http://7xlek5.com2.z0.glb.qiniucdn.com/siteicon/black-opacity-2.png);
  background: rgba(0,0,0,.2);
}
.search_wrap  h2 {
  font: 400 32px/50px 'microsoft yahei';
   color: #fff;
    text-align: center;
    
}
.search_wrap  p {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.zhususearch {
    margin-bottom: 25px;
}
 .input-wrapper {
  width: 370px;
  height: 40px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,.15);
  overflow: hidden;
}
.search_wrap .input-wrapper input {
  border: 0;
  height: 22px;
  padding: 9px 0;
  color: #333;
  width: 100%;
  outline: 0;
  font: 400 14px/22px 'Microsoft Yahei';
  text-indent: 1em;
  position: absolute;
  top: 0;
  left: 0;
}
.check_in ,.check_out{
  float: left;
  position: relative;
}
.check_in .input-wrapper,.check_out.input-wrapper {
  width: 137px;
}
.input-wrapper .icon-date {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 10px;
  top: 9px;
  z-index: 2;
  font-size: 22px;
  color: #8a9399;
}
.search_wrap .up, .search_wrap .down {
  position: absolute;
  width: 28px;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 20px;
}
.search_wrap .down {
  top: 20px;
}
.search_wrap .up i, .search_wrap .down i {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  border: transparent 5px dashed;
  border-bottom: #8a9399 5px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2.5px 0 0 -5px;
}
.search_wrap .down i {
  border: transparent 5px dashed;
  border-top: #8a9399 5px solid;
  margin-top: -7.5px;
}
.search_wrap button.search-btn {
    width: 92px;
  height: 40px;
  padding: 0 30px;
  border-radius: 4px;
  border: 0;
  font: 400 16px/40px 'Microsoft Yahei';
  color: #fff;
  text-align: center;
  background: #ff8b00;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
button.search-btn:hover{background:#ff9526}
.shake{-webkit-transform:translate(0,0);-webkit-animation:shake .1s infinite}

.zhusu_hot_search {
    
}
.zhusu_hot_search  a {
  float: left;
  width: 70px;
  height: 32px;
  margin: 0 8px 5px 0;
  border-radius: 5px;
  text-align: center;
  font: bold 14px/32px Simsun,sans-serif;
  color: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi/v//fzJAgAEACW4DZJNdARoAAAAASUVORK5CYII=) repeat;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr="#60000000",EndColorStr="#60000000");
}
.zhusu_hot_search  a:hover{width:76px;height:28px;border:2px solid #fff;color:#fff;text-decoration:none;line-height:28px;}
.hot_p_w_title {
      min-width: 1000px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}
.hot_p_w_head {
   border-top: solid 1px #e1e1df;
  margin: 30px 0px;
  padding-left: 45px;
}
.hot_p_w_head h3 {
 margin-top: -16px;
   color: #333;
  font-size: 14px;
  background: white;
  float: left;
  padding: 0 5px;
  zoom: 1;
  overflow: hidden;
  position: relative;
    font-size: 24px;
    height: 28px;
    line-height: 28px;
}
.intro1 {
    padding: 50px 0 60px 0;
  background-color: #f8f8f8;
}
.intro1  h4,.intro2  h4 {
  text-align: center;
  font-size: 40px;
    height: 60px;
    line-height: 60px;
}
p.en-t {
  text-align: center;
  font-size: 18px;
    height: 28px;
}
.intro1  ul {
  width: 850px;
  margin: 0 auto;
}
.intro1 li.i-3 {
  background-position: 0 -192px;
}
.intro1 li.i-1 {
  background-position: 0 0;
}
.intro1 li.i-2 {
  background-position: 0 -96px;
}
.intro1  li.i-4 {
  background-position: 0 -288px;
}
.intro1  li.i-5 {
  background-position: 0 -384px;
}
.intro1 li {
  height: 96px;
  overflow: hidden;
  background: url('http://7xlek5.com2.z0.glb.qiniucdn.com/siteicon/share-3.png') no-repeat;
  padding-left: 110px;
  font-size: 18px;
  line-height: 32px;
  margin-top: 40px;
}

.intro1 li h5 {
  font-weight: bold;
}
.intro2 {
      padding: 100px 0;
}
.recom_brand {
      position: relative;
  padding: 55px 0 0;
    width: 1300px;
    margin: 0 auto;
}
  .recom_brand li{ width:151px; float:left;margin-right:-1px;   
                   width: 180px;
  height: 180px;
  margin: 0 72px 35px 0;}
  .recom_brand li a{display:block; height:148px; border:1px solid #F1F1F1; margin-bottom:-1px;position:relative; text-align:center; padding:15px; font-size:14px; color:#555;}
  .recom_brand li a:hover{ z-index:1; border:1px solid #F66; color:#F55;_border:0px}
  .recom_brand li a img{-webkit-transition:margin 0.5s;transition:margin 0.5s;}
  .recom_brand li a:hover img{ margin-top:-5px; margin-bottom:5px; -webkit-transition:margin 0.5s;transition:margin 0.5s;}
.recom_brand  li a i {
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  background: url("http://img.elongstatic.com/hotel/recom-brand/pic.png") no-repeat 0 0;
  width: 110px;
  height: 80px;
  display: inline-block;
    margin-top: 15px;
}
.recom_brand li a:hover i{margin-top:-5px; margin-bottom:0px; -webkit-transition:margin 0.5s;transition:margin 0.5s; }
.recom_brand  li a p {
  margin-top: 5px;
}

 .recom_brand li a i.zhouji {
  background-position: -448px 0;
}
 .recom_brand li a i.wanhao {
  background-position: -674px 0;
}
 .recom_brand li a i.rujia {
  background-position: -786px -85px;
}
  .recom_brand li a i.qitian {
  background-position: 0px -176px;
}
.recom_brand li a i.jinjiangzhixing {
  background-position: -448px -176px;
}
.recom_brand li a i.dazhonghua {
  background-position: -224px 0;
}
.recom_brand li a i.xierdun {
  background-position: 0px -85px;
}
.recom_brand li a i.yashige {
  background-position: -786px -176px;
}
.recom_brand li a i.juzi {
  background-position: -899px -176px;
}
.recom_brand li a i.motai {
  background-position: -112px -176px;
}
.recom_brand li a i.hanting {
  background-position: -224px -176px;
}
.recom_brand li a i.kaiyue {
  background-position: -674px -176px;
}
.recom_brand li a i.xidawu {
  background-position: -448px -85px;
}
.recom_brand li a i.xianggelila {
  background-position: -561px -85px;
}
.recom_brand li a i.buding {
  background-position: -337px 0;
}
.recom_brand li a i.suba {
  background-position: -674px -85px;
}
 .intro3 {
       height: 160px;
  background: #fff;
     margin-bottom: 30px;
 }
 .intro3 .span4:first-child {
  padding-left: 0;
}
   .intro3 .span4last {
  border-right: none !important;
  padding-right: 0  !important;
}
 .intro3 .span4 {
  width: 275px;
  width: 272px\9;
  float: left;
  border-right: 1px solid #7f7f7f;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
  .intro3  a {
  color: #646464;
  text-decoration: none;
}
  .s_process {
  background: url(http://7xlek5.com2.z0.glb.qiniucdn.com/siteicon/process.png) no-repeat;
  width: 95px;
  height: 70px;
  display: block;
}
  .s_p_1 {
  background-position: left top;
}
  .s_p_2 {
  background-position: -95px top;
}
  .s_p_3 {
  background-position: -190px top;
}
  .s_p_4 {
  background-position: -285px top;
}
  .intro3 .process_title {
  margin-left: 10px;
}
  .intro3 h4 {
  font-weight: normal;
  font-size: 20px;
    color: #028ECE;
}
 .hot_p_w_title h3 {
        text-align: center;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  }
 .hot_p_w_title h3 span {
    font-size: 20px;
   color: #999;
   cursor: pointer
 }
  .intro3   .process_title {
  margin-left: 10px;
}
  .intro3 em {
  width: 170px;
  width: 165px\9;
  line-height: 25px;
  display: block;
      font-size: 12px;
}
  .hot_city_hotel{
  margin-left: -5%;
      width: 1280px;
}
.hot_city_hotel  li {
  width: 18.75%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 3.125%;
}
.hot_city_hotel li {
  background: #fff;
  background: #f7faf9\0/;
  border-bottom: 2px solid #f7faf9\0/;
  border-radius: 0 0 1px 1px;
  float: left;
  margin: 0 0 8px 40px;
  height: 270px;
  width: 240px;
  padding: 20px 20px 0;
  position: relative;
  -moz-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.course-list-img {
  width: auto;
  height: auto;
  max-height: 135px;
    overflow: hidden;
  position: relative;
}
.course-list-img img {
  max-width: 100%;
  min-height: 100%;
  display: block;
  width: 240px;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
.hot_city_hotel li h5 {
  margin: 18px 0 0;
  height: 18px;
  line-height: 18px;
  color: #14191e;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot_city_hotel li .tips {
    margin-top: 7px;
   border-top: 1px dashed #e3e3e3;
    font-size: 12px;
  color: #b4bbbf;
    padding-top: 4px;
}
.hot_city_hotel li .tips .price {
  color: #f60;
}
.hot_city_hotel li .tips dfn {
  font-style: normal;
  color: #f60;
}
.hot_city_hotel li .tips dfn {
  font-size: 16px;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot_city_hotel li .address {
      font-size: 12px;
  color: #b4bbbf;
}
.hot_city_hotel .tips p {
  margin: 8px 0;
}
.hot_city_hotel .tips .update-latest {
  color: #00dc50;
}
.hot_city_hotel .tips span {
  color: #787d82;
}
.hot_city_hotel li:hover span,
.hot_city_hotel li.hover span {
  bottom: 0px;
  *display: block;
}

.hot_city_hotel li:hover,
.hot_city_hotel li.hover {
  border-bottom: 2px solid #dae0e5\0/;
  *border-bottom: 2px solid #dae0e5;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hot_city_hotel a:link, .hot_city_hotel a:visited {
  color: #14191e;
}
.hot_city_hotel .time-label {
  position: absolute;
  right: 25px;
  top: 25px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 0 3px;
  visibility: hidden;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: .3s;
  transition: .3s;
}
.hot_city_hotel  li:hover .time-label {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.hot_city_hotel .region {
  width: 100%;
  margin-top: 7px;
    font-size: 12px;
    margin-bottom: 7px;
}

.hot_city_hotel .region span {
  display: inline-block;
  color: #fff;
  padding: 0 5px;
  border-radius: 3px;
  margin-right: 10px;
  float: left;
  line-height: 19px;
}

.region-keyword_1 {
    background-color: rgb(239,178,206);
}

.region-keyword_2 {
    background-color: rgb(239,142,8);
}

.region-keyword_3 {
    background-color: rgb(140,146,206);
}

.region-keyword_4 {
    background-color: rgb(255,207,181);
}

.region-keyword_5 {
    background-color: rgb(33,211,90);
}

.region-keyword_6 {
    background-color: rgb(140,97,16);
}

.line-keyword_7 {
    background-color: rgb(198,150,8);
}

@media screen and (max-width: 961px) {
  body {
    min-width: 620px;
  }
  .hot_city_hotel ul {
    margin-left: -6.25%;
  }
  .hot_city_hotel li {
    width: 25%;
    padding-left: 2.08333333%;
    padding-right: 2.08333333%;
    margin-left: 4.16666667%;
  }
}
@media screen and (max-width: 621px) {
  .hot_city_hotel ul {
    margin-left: -9.375%;
  }
  .hot_city_hotel li {
    width: 37.5%;
    padding-left: 3.125%;
    padding-right: 3.125%;
    margin-left: 6.25%;
  }
}